---
import "../styles/normalize.css";
import "../styles/globals.scss";
import Layout from "../layouts/Layout.astro";
import Project_container from "../components/Project_container.astro";
---

<Layout title="Homepage">
	<main>
		<section class="hero">
			<div class="wrap">
				<div class="hero__inside">
					<h1 class="hero__title title">Jonny Jones</h1>

					<div class="hero__email">
						<a href="mailto:hello@jonnyjones.dev" class="link"
							>hello@jonnyjones.dev</a
						>
					</div>

					<div class="hero__flex">
						<div class="hero__left">
							<p class="hero__job-title">/ Web Developer</p>
						</div>

						<div class="hero__right">
							<div class="hero__content">
								<p>Based in Jersey.</p>
								<p>Available for freelance</p>
								<a href="#contact">Get in touch.</a>
							</div>

							<ul class="hero__links">
								<li>
									<a
										href="https://www.linkedin.com/in/jonny-jones-b748a31aa/"
										class="link">LinkedIn</a
									>
								</li>
								<li><a href="#" class="link">CV</a></li>
								<li>
									<a href="https://github.com/jonnyjones99" class="link"
										>GitHub</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<Project_container client:load />

		<div class="bg--black">
			<div class="wrap">
				<section class="about-me about-me-first">
					<div class="section__left">
						<h2 class="subtitle">About Me</h2>
					</div>
					<div class="section__right">
						<p>
							I’m a developer currently based in Jersey, Channel Islands. I love
							what I do and I’ve helped bring many websites to live during my
							time working.
						</p>
						<p>
							I work the end-to-end process when it comes to building websites.
							From proposals, to design, to development. Working with clients to
							refine requirements, and communicating to clients.
						</p>
						<p>Times Person of the Year 2006</p>
					</div>
				</section>

				<section class="about-me about-me-second">
					<div class="section__left">
						<h2 class="subtitle">Experience</h2>
					</div>
					<div class="section__right">
						<ul class="experience-list">
							<li>Web Development</li>
							<li>PHP</li>
							<li>Node</li>
							<li>Vanilla JS</li>
							<li>Next.js/React</li>
							<li>Wordpress Theme Development</li>
							<li>System Architecture</li>
							<li>Dynamics 365</li>
							<li>Power Apps</li>
							<li>UX Design</li>
							<li>Web Design</li>
							<li>Web Animations</li>
						</ul>
					</div>
				</section>

				<section
					id="contact"
					class="about-me about-me-third about-me__align-center"
				>
					<div class="section__left">
						<h2 class="subtitle">Get In Touch</h2>

						<ul class="contact__links">
							<li>
								<a
									class="link"
									href="https://www.linkedin.com/in/jonny-jones-b748a31aa/"
									>LinkedIn</a
								>
							</li>
							<li>
								<a class="link" href="https://github.com/jonnyjones99">GitHub</a
								>
							</li>
							<li>
								<a class="link" href="https://codepen.io/jonnyjones99"
									>CodePen</a
								>
							</li>
						</ul>
					</div>
					<div class="section__right">
						<a href="mailto:hello@jonnyjones.dev" class="contact-btn"
							>hello@jonnyjones.dev</a
						>
					</div>
				</section>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	@use "../styles/_mixins.scss" as *;

	.hero {
		background-color: var(--white);
		color: var(--black);

		&__inside {
			padding-top: 200px;
			padding-bottom: 6rem;
			border-bottom: 6px solid var(--black);

			@include tablet {
				padding-top: 270px;
			}
		}

		&__title {
			margin-bottom: 4rem;

			@include tablet {
				margin-bottom: 8rem;
			}
		}

		&__email {
			margin-bottom: 1rem;
		}

		&__job-title {
			font-size: var(--fs-medium);
			margin-bottom: 4rem;

			@include tablet {
				margin-bottom: 0;
			}
		}

		&__flex {
			@include tablet {
				display: flex;
				justify-content: space-between;
			}
		}

		&__right {
			margin-right: 4rem;
		}

		&__content {
			margin-bottom: 2rem;

			p {
				margin-bottom: 0.25rem;
				line-height: unset;
			}

			a {
				margin-bottom: 0.25rem;
				font-size: var(--fs-regular);
				text-decoration: none;
				color: var(--black);
				line-height: unset;
			}
		}

		&__links {
			display: flex;

			li:not(:last-of-type) {
				margin-right: 2.5rem;
			}
		}
	}

	.about-me {
		padding-top: 4rem;
		padding-bottom: 4rem;
		opacity: 0.3;

		&__align-center {
			align-items: center;
		}

		&:not(:last-of-type) {
			border-bottom: 2px solid var(--white);
		}

		@include tablet {
			display: flex;
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		.subtitle {
			margin-bottom: 2rem;
		}
	}

	.experience-list {
		column-count: 2;
		font-size: var(--fs-regular);
	}

	.about-me-third {
		padding-bottom: 6rem;
		align-items: flex-start;

		@include ltab {
			padding-bottom: 12rem;
		}

		.contact-btn {
			display: inline-block;
		}
	}

	.section__left {
		margin-right: 2rem;

		@include ltab {
			width: 600px;
		}
	}

	.section__right {
		@include ltab {
			width: 617px;
		}

		p {
			margin-bottom: 1rem;
		}
	}

	.contact-btn {
		font-family: var(--ff-bold);
		color: var(--white);
		font-size: var(--fs-regular);
		text-decoration: none;
		border: 6px solid var(--white);
		padding: 0.75rem 2rem;
		border-radius: 999px;
		transition: 150ms;

		&:hover {
			background-color: var(--white);
			color: var(--black);
		}
	}

	.contact__links {
		display: flex;
		margin-bottom: 2rem;

		@include tablet {
			margin-bottom: 0;
		}

		li:not(:last-of-type) {
			margin-right: 1.25rem;
		}
	}
</style>
