---
import '../styles/normalize.css';
import '../styles/globals.scss';
import Layout from "../layouts/Layout.astro";
import Project_container from '../components/Project_container.astro';
---

<Layout title="Homepage">
	<main>
		<section class="hero">
			<div class="wrap">
				<div class="hero__inside">
					<h1 class="hero__title title">Jonny Jones</h1>

					<div class="hero__email">
						<a href="mailto:hello@jonnyjones.dev" class="link">hello@jonnyjones.dev</a>
					</div>

					<div class="hero__flex">
						<div class="hero__left">
							<p class="hero__job-title">/ Web Developer</p>
						</div>

						<div class="hero__right">
							<div class="hero__content">
								<p>Based in Jersey.</p>
								<p>Available for freelance</p>
								<p>Get in touch.</p>
							</div>

							<ul class="hero__links">
								<li><a href="#" class="link">LinkedIn</a></li>
								<li><a href="#" class="link">CV</a></li>
								<li><a href="#" class="link">CodePen</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<Project_container client:load />

		<div class="bg--black">
			<div class="wrap">

				<section class="about-me">
					<div class="section__left">
						<h2 class="subtitle">About Me</h2>
					</div>
					<div class="section__right">
						<p>I’m a developer currently based in Jersey, Channel Islands. I love what I do and I’ve helped
							bring
							many websites to live during my time working.</p>
						<p>I work the end-to-end process when it comes to building websites. From proposals, to design,
							to
							development. Working with clients to refine requirements, and communicating to clients.</p>
						<p>Times Person of the Year 2006</p>
					</div>
				</section>

				<section class="about-me">
					<div class="section__left">
						<h2 class="subtitle">Experience</h2>
					</div>
					<div class="section__right">
						<p>I’m a developer currently based in Jersey, Channel Islands. I love what I do and I’ve helped
							bring
							many websites to live during my time working.</p>
						<p>I work the end-to-end process when it comes to building websites. From proposals, to design,
							to
							development. Working with clients to refine requirements, and communicating to clients.</p>
						<p>Times Person of the Year 2006</p>
					</div>
				</section>

				<section class="about-me about-me__align-center">
					<div class="section__left">
						<h2 class="subtitle">Get In Touch</h2>
					</div>
					<div class="section__right">
						<a href="mailto:hello@jonnyjones.dev" class="contact-btn">hello@jonnyjones.dev</a>
					</div>
				</section>



			</div>
		</div>

	</main>
</Layout>

<style lang="scss">
	@use '../styles/_mixins.scss' as *;

	.hero {
		background-color: var(--white);
		color: var(--black);

		&__inside {
			padding-top: 200px;
			padding-bottom: 6rem;
			border-bottom: 6px solid var(--black);

			@include tablet {
				padding-top: 270px;
			}
		}

		&__title {
			margin-bottom: 4rem;

			@include tablet {
				margin-bottom: 8rem;
			}
		}

		&__email {
			margin-bottom: 1rem;
		}

		&__job-title {
			font-size: var(--fs-medium);
			margin-bottom: 4rem;

			@include tablet {
				margin-bottom: 0;
			}
		}

		&__flex {
			@include tablet {
				display: flex;
				justify-content: space-between;
			}
		}

		&__right {
			margin-right: 4rem;
		}

		&__content {
			margin-bottom: 2rem;

			p {
				margin-bottom: 0.5rem;
			}
		}

		&__links {
			display: flex;

			li:not(:last-of-type) {
				margin-right: 2.5rem;
			}
		}
	}

	.about-me {
		padding-top: 4rem;
		padding-bottom: 4rem;
		border-bottom: 2px solid var(--white);

		&__align-center {
			align-items: center;
		}

		@include tablet {
			display: flex;
			padding-top: 10rem;
			padding-bottom: 10rem;

		}
	}

	.section__left {
		margin-right: 2rem;

		@include ltab {
			width: 600px;
		}
	}

	.section__right {
		@include ltab {
			width: 617px;
		}

		p {
			margin-bottom: 1rem;
		}
	}

	.contact-btn {
		font-family: var(--ff-bold);
		color: var(--white);
		font-size: var(--fs-regular);
		text-decoration: none;
		border: 6px solid var(--white);
		padding: 0.75rem 2rem;
		border-radius: 999px;
		transition: 150ms;

		&:hover {
			background-color: var(--white);
			color: var(--black);
		}
	}
</style>