---
import '../styles/normalize.css';
import '../styles/globals.scss';
import Project_card from '../components/Project_card.astro';
---

<div class="wrap">
    <section id="my-work" class="my-work">
        <Project_card href="#" projectnum="/ PROJECT #1" title="Citizens Advice Jersey" jobtitle="Development."
            body="A highly functional, fully WCAG 2.1 compliant website."
            body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
            imglink="/img/placeholder.png" imgalt="alt" />
        <Project_card href="#" projectnum="/ PROJECT #2" title="IPHR (Contact Tracing)" jobtitle="System Architecture."
            body="A highly functional, fully WCAG 2.1 compliant website."
            body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
            imglink="/img/placeholder.png" imgalt="alt" />
        <Project_card href="#" projectnum="/ PROJECT #3" title="Citizens Advice Jersey" jobtitle="Development."
            body="A highly functional, fully WCAG 2.1 compliant website."
            body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
            imglink="/img/placeholder.png" imgalt="alt" />
    </section>
</div>


<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    ScrollTrigger.matchMedia({
        // small
        "(min-width: 599px)": function () {
            // The ScrollTriggers created inside these functions are segregated and get
            // reverted/killed when the media query doesn't match anymore.

            gsap.to(".my-work", {
                xPercent: -100,
                x: () => innerWidth,
                ease: "none",
                scrollTrigger: {
                    trigger: ".my-work",
                    start: "top top",
                    end: () => innerWidth * 3,
                    scrub: true,
                    pin: true,
                    invalidateOnRefresh: true,
                    anticipatePin: 1,
                },
            });
        },

        // all
        all: function () {
            // ScrollTriggers created here aren't associated with a particular media query,
            // so they persist.
        },
    });


    const containers = gsap.utils.toArray(".about-me");
containers.forEach((container) => {
  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: container,
      scrub: true,
    }
  });

  tl.to(container, {
    autoAlpha: 1
  }).to(
    container,
    {
      autoAlpha: 0.3
    },
    0.5
  );
});

    
/*
    gsap.to(".about-me-first", {
        opacity: 1,
        duration: 1,
        scrollTrigger: {
            trigger: ".about-me-first",
            start: "250",
            end: "200", // end after scrolling 500px beyond the start
            markers: true
        },
    });


    gsap.to(".about-me-second", {
        opacity: 1,
        duration: 1,
        scrollTrigger: {
            trigger: ".about-me",
            start: "250", // when the top of the trigger hits the top of the viewport
            end: "250", // end after scrolling 500px beyond the start
            markers: true,
        },
    });

    gsap.to(".about-me-third", {
        opacity: 1,
        duration: 1,
        scrollTrigger: {
            trigger: ".about-me-second",
            start: 100, // when the top of the trigger hits the top of the viewport
            end: "bottom 50%+=100px", // end after scrolling 500px beyond the start
             markers: true
        },
    });
*/
</script>



<style lang="scss">
    @use '../styles/_mixins.scss' as *;

    .my-work {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include ltab {
            display: flex;
            width: 5315px;
            height: calc(100vh - 8rem);
        }
    }
</style>