---
import "../styles/normalize.css";
import "../styles/globals.scss";
import Project_card from "../components/Project_card.astro";
---

<div class="wrap">
	<section id="my-work" class="my-work">
		<Project_card
			href=""
			projectnum="/ PROJECT #1"
			title="Citizens Advice Jersey"
			jobtitle="Development."
			body="A highly functional, fully WCAG 2.1 compliant website."
			body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
			imglink="/img/caj.png"
			imgalt="alt"
		/>
		<Project_card
			projectnum="/ PROJECT #2"
			title="IPHR (Contact Tracing)"
			jobtitle="System Architecture."
			body="High + Low Level design of the system. Focus on the Refinement of components to increase productivity of Contact Tracers using the System."
			body2=""
			imglink="/img/crm.png"
			imgalt="alt"
		/>
		<Project_card
			href="#"
			projectnum="/ PROJECT #3"
			title="Jersey Talking Therapies"
			jobtitle="Development + Design."
			body="Creating an end-to-end process for users to self refer themselves. Focusing on UX with modern, clean design. While keeping the website fully WCAG 2.1 Compliant."
			body2=""
			imglink="/img/jtt.png"
			imgalt="alt"
		/>
	</section>
</div>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	const containers = gsap.utils.toArray(".about-me");
	containers.forEach((container) => {
		let tl = gsap.timeline({
			scrollTrigger: {
				trigger: container,
				scrub: true,
			},
		});

		tl.to(container, {
			autoAlpha: 1,
		}).to(
			container,
			{
				autoAlpha: 0.3,
			},
			0.3
		);
	});
</script>

<style lang="scss">
	@use "../styles/_mixins.scss" as *;

	.my-work {
		padding-top: 4rem;
		padding-bottom: 4rem;

		@include ltab {
			// width: 5315px;
			// width: 5515px;
			// height: calc(100vh - 8rem);
			// width: calc(3 * var(--card-width));
		}
	}
</style>
