---
import '../styles/normalize.css';
import '../styles/globals.scss';
import Project_card from '../components/Project_card.astro';
---

<div class="wrap">
    <section id="my-work" class="my-work">
        <Project_card href="#" projectnum="/ PROJECT #1" title="Citizens Advice Jersey" jobtitle="Development."
            body="A highly functional, fully WCAG 2.1 compliant website."
            body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
            imglink="/img/placeholder.png" imgalt="alt" />
        <Project_card href="#" projectnum="/ PROJECT #2" title="IPHR (Contact Tracing)" jobtitle="System Architecture."
            body="A highly functional, fully WCAG 2.1 compliant website."
            body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
            imglink="/img/placeholder.png" imgalt="alt" />
        <Project_card href="#" projectnum="/ PROJECT #3" title="Citizens Advice Jersey" jobtitle="Development."
            body="A highly functional, fully WCAG 2.1 compliant website."
            body2="A full CMS database migration, a complete overhaul of the frontend and while maintaining high SEO."
            imglink="/img/placeholder.png" imgalt="alt" />

    </section>
</div>


<script src='src/functions.js' type="module" />


<style lang="scss">
    @use '../styles/_mixins.scss' as *;

    .my-work {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include ltab {
            display: flex;
            width: 5315px;
            height: calc(100vh - 8rem);
        }
    }
</style>